n8n/workflows/2.6.1_success_notification.json
{
  "name": "2.6.1 DataPulse Success Notification",
  "nodes": [
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Sub-Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack_text",
              "name": "slack_text",
              "value": "=DataPulse pipeline completed successfully\nRun ID: {{ $json.run_id }}\nDuration: {{ $json.duration_seconds }}s\nRows loaded: {{ $json.rows_loaded }}",
              "type": "string"
            },
            {
              "id": "slack_channel",
              "name": "slack_channel",
              "value": "#datapulse-pipeline",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success-message",
      "name": "Format Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"channel\": \"{{ $json.slack_channel }}\", \"text\": \"{{ $json.slack_text }}\", \"username\": \"DataPulse Bot\", \"icon_emoji\": \":white_check_mark:\" }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Sub-Workflow Trigger": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "datapulse-local"
  },
  "tags": [
    {
      "name": "phase-2.6",
      "id": "8fa6cde2-84c7-42ca-96b3-6a4c0c42b9b6"
    }
  ],
  "active": false,
  "id": "30aae530-414d-4335-ae88-348a67109cbd"
}