n8n/workflows/2.6.3_quality_digest.json
{
  "name": "2.6.3 DataPulse Daily Quality Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "daily-1800-trigger",
      "name": "Daily 18:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/pipeline/runs/latest",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-latest-run",
      "name": "Get Latest Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/v1/pipeline/runs/{{ $json.id }}/quality",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-quality-checks",
      "name": "Get Quality Checks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack_text",
              "name": "slack_text",
              "value": "=Daily Quality Digest\nLast run: {{ $('Get Latest Run').item.json.id }}\nStatus: {{ $('Get Latest Run').item.json.status }}\nTotal checks: {{ $json.total }}\nResults: {{ $json.items.length }} checks recorded",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-digest",
      "name": "Format Digest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"channel\": \"#datapulse-pipeline\", \"text\": \"{{ $json.slack_text }}\", \"username\": \"DataPulse Bot\", \"icon_emoji\": \":bar_chart:\" }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-digest",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 18:00 Trigger": {
      "main": [
        [
          {
            "node": "Get Latest Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Run": {
      "main": [
        [
          {
            "node": "Get Quality Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quality Checks": {
      "main": [
        [
          {
            "node": "Format Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "datapulse-local"
  },
  "tags": [
    {
      "name": "phase-2.6"
    }
  ],
  "active": false
}
