n8n/workflows/2.6.2_failure_alert.json
{
  "name": "2.6.2 DataPulse Failure Alert",
  "nodes": [
    {
      "parameters": {},
      "id": "sub-workflow-trigger",
      "name": "Sub-Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack_text",
              "name": "slack_text",
              "value": "=<!channel> PIPELINE FAILED\nRun ID: {{ $json.run_id }}\nStage: {{ $json.stage }}\nError: {{ $json.error_message }}",
              "type": "string"
            },
            {
              "id": "slack_channel",
              "name": "slack_channel",
              "value": "#datapulse-alerts",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-failure-alert",
      "name": "Format Failure Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"channel\": \"{{ $json.slack_channel }}\", \"text\": \"{{ $json.slack_text }}\", \"username\": \"DataPulse Bot\", \"icon_emoji\": \":x:\" }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Sub-Workflow Trigger": {
      "main": [
        [
          {
            "node": "Format Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Failure Alert": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "datapulse-local"
  },
  "tags": [
    {
      "name": "phase-2.6",
      "id": "8fa6cde2-84c7-42ca-96b3-6a4c0c42b9b6"
    }
  ],
  "active": false,
  "id": "83898d3c-2fa7-429f-9eb1-5e380e477ea4"
}